.navCart {
  background-color: #dd2417;
  border-radius: 50%;
  color: white;
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  text-align: center;
  top: -8px;
  left: -5px;
}
  
.navCart h4 {
  font-size: 1rem;
  line-height: 19px;
}